*{
    margin: 0;
    padding: 0%;
    font-family: "Poppins", sans-serif;    
     
}
html{
    overflow: hidden;
}
:root{
  --cor1: rgba(0, 0, 0, 0.697);
  --cor2: rgb(250, 46, 46) ;
  --cor3: rgb(255, 255, 53 );
  --cor4: rgba(96, 96, 96, 0.59);
  --cor5: white;
}

img{
    width: 2em;
    height: 2em;
    margin: 2% 0% 0% 2%;
}
section{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;


}
.content{
 width: 90%;
 height:95%;
 border-radius: 2em;
 border: 15px solid var(--cor4) ;
 background-color:var(--cor1) ;
 display: flex;
 align-items: top;
 align-items: center;
 flex-direction: column;
 

}
.grid{
    background-color: var(--cor4);
    margin-top: 1%;
  width: 90%;
  padding: 3%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em;

}
.grid1 ,.grid2{
display: grid;
animation-duration: 2s;

}
.grid1{
    animation-name: direita;
    grid-template-columns:3fr 2fr;
}
.grid2{
    grid-template-columns: 3fr 2fr;
animation-name: esquerda;
}


.tabela {
  
    height: 10em;
    width: 25em;
    background-color: var(--cor3);
    border-radius: 1em 0em 0em 1em;
    margin: 5% 0% 1% 0%;
    clip-path: polygon(99% 0%, 0% 0%, 0% 100%, 90% 100%);
}


.final{
    border-radius: 0em 1em 1em 0em ;
     clip-path: polygon(1% 100%, 100% 100%, 100% 0%, 10% 0%);
     margin: 0% 0% 0% 0%;
}

.bola{
    height: 3em;
    width: 3em;
     border-radius: 100%;
}
.content a{
    margin-top:6em ;
    padding: 1.5em 10em ;
        background-color: var(--cor1);
        border-radius: 5em;
        color: var(--cor3);
        text-decoration: none;

}
a i{
    margin-left: 0.3em;
    font-size: 1.5em;
}
