* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;


}

body {
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: black;
}

/* Parte do começo do Portifolio */
header {

    width: 100%;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 9.5vh;


}


.li {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.656);
    backdrop-filter: blur(5px);
    padding: 0% 17%;
    border-radius: 6em;
    margin-top: 5%;
    animation-name: navani;
    animation-duration: 1.5s;
}


nav li ul {
    margin: 2% 2%;
    padding: 1% 4%;
}

nav li ul a {
    color: rgb(250, 46, 46);
    font-size: 1.1em;
    font-weight: 500px;
    transition: all 0.2s ease-in;
    font-weight: 500;
}

.li ul select {
    border: none;
    background-color: transparent;
    color: rgb(250, 46, 46);
    font-size: 1.1em;
    transition: all 0.2s ease-in;
}

.opt {
    background-color: transparent;
    backdrop-filter: blur(4px);
    border: none;
}

nav li ul:hover {
    background-color: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(5px);
    border-radius: 5em;


    a {
        color: rgb(255, 0, 0) ;
        font-size: 1.3em;

    }
}

.li img {
    height: 4em;
    border-radius: 100%;
    margin: 0% 10%;
}

@keyframes navani {
    0% {

        margin-top: -50%;
    }

    50% {

        margin-top: 25%;
    }

    100% {

        margin-top: 5%;
    }
}



/* começo do portifolio */
#cima{
    padding-bottom: 10em;
    background-image: linear-gradient(to bottom, rgba(91, 91, 91, 0.338), rgb(255, 255, 255));
}
.vindo{
    background-image: url(https://images.pexels.com/photos/194096/pexels-photo-194096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    
}
.sombreado{

 width: 100%;
height: 100%;
       background-image: linear-gradient(to bottom,black, transparent);
       display: flex;
       align-items: center;
       text-align: center;
       justify-content: center;
}
.Titulo{
    position: relative;
  
    font-size: 3.4em;
  
   
    color: aliceblue;
    animation-name: titulo;
    animation-duration: 3s;
    opacity: 1;
    animation-iteration-count: initial;
    transition: all 5s ease-in-out;
}
@keyframes titulo {
    0%{
        opacity: 0;
        top: 7em;
    }
    25%{
        opacity: 0;
        top: 7em;
    }
    50%{
        opacity: 1;
     top: 0em;
    }
    100%{
        opacity: 1;
     top: 0em;
        
    }
    
}
.arquitetura {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.arquitetura2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 2em;
}


.projeto1 {
    width: 90%;

    border-radius: 2em;
    display: flex;
   
  
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.308),
        inset 1px 1px rgba(255, 255, 255, 0.576);
    height: 30em;
    margin: 1em;
}

.projeto1 h3 {
    text-wrap: nowrap;
    font-size: 1.3em;
   margin-top: 1em;
   font-weight: 700;
   margin-bottom: 3em ;
   
}

.conteudo {
    width: 50%;
    display: flex;
  
align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 1% 3%;
    
    margin: 2%;
    background-image: linear-gradient(to top, transparent, rgba(142, 142, 142, 0.267));
    border-radius: 1em;
    
    transition: all 0.3s ease-in-out;
}

.conteudo p {
   font-weight:500;
    margin: 1em 2em;
   text-wrap: nowrap;
font-size: 0.9em;
}

.verificado1,.verificado2,.verificado3,.verificado4{height: 0.8em;
  margin: 0em 0.5em ;
    animation-name: verificado;
    opacity: 0;
    animation-iteration-count: infinite;
}
.verificado1{
animation-duration: 10s;
}
.verificado2{
    animation-duration: 10.1s;
}
.verificado3{
    animation-duration: 10.2s;
}
.verificado4{
    animation-duration: 10.3s;
}
@keyframes verificado {
11.25%{
        opacity: 0;
    }
22.5%{
        opacity: 1;
    }
60%{
        opacity: 1;
    }
64%{
        opacity:0;
    }
  
  
}
.conteudo:hover{
  transform: scale(1.02);
  box-shadow:   1px 1px 10px rgba(0, 0, 0, 0.289);
}
.sombra{
    border-radius: 1em;
    height: 94%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
  
}

.ft, .ft2, .ft3, .ft4{
    background-size: cover;
    width: 50%;
    margin: 2%;
    border-radius: 1em;
    position:relative;
    transition: all 0.3s ease-in-out ;
}



    
  
    .meio{
         height: 60vh;
 background-image: url();
 background-attachment: fixed;
     width: 100%;

        margin-bottom: 7em;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.475);
        align-items: center;
        text-align: center;

    }

    .h2{
      margin-top: 0;
     color: black;
    font-size: 3em;
    margin-left: 2em;
    }
    .p{
        position: relative;
        transition: all 2s ease-in-out ;
        animation-duration: 60s;
        animation-name: paragrafo;
        animation-iteration-count: infinite;
        margin-top: 60em;
        width: 45%;
        margin: 1em 0em 0em 2em;
        font-size: 1.1em;
        color: rgb(0, 0, 0);
    }
    .componentes, .componentes2, .componentes3{
        transition: all 1s ease-in-out;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        position: relative;
        animation-iteration-count: infinite;
        animation-duration: 60s;
      
    }
    .trabalhos p, .trabalhos2 p, .trabalhos3 p{
        font-size: 3em;
        font-weight: 500;
       color: transparent;
       -webkit-text-stroke: 1px rgb(255, 255, 255);
        padding: 0em;
        backdrop-filter: blur(2px);
       padding: 2.6em 0em ;
       background-color: rgba(0, 0, 0, 0.149);
       width: 100%;
        border-radius: 0.6em;
        transition: all 0.2s ease-in-out;
       
        
       
    }
    .trabalhos, .trabalhos2, .trabalhos3{
        align-items: left;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 3%;
        margin-top: 2%;
        height: 20em;
        width: 30em;
        border-radius: 1em;
        background-size: cover;
        box-shadow: inset 1px 10px 20px rgba(255, 241, 241, 0);

        transition: all 0.3s ease-in-out;

    }
     
    .trabalhos:hover, .trabalhos2:hover, .trabalhos3:hover{
        transform: scale(1.04);
       p{
            color: rgb(255, 255, 255) ;
            backdrop-filter: blur(0px);
        }
    }
     .componentes{
        animation-name: trabalhos;
     }
     .componentes2{
        animation-name: trabalhos2;
     }
     .componentes3{
        animation-name: trabalhos3;
     }
     
     @keyframes trabalhos {
        0%{
            display: none;
            opacity: 0;
            bottom: -5%;
            transform:rotateX(-20deg);
        }
      1%{
       display:flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
      31%{
        display: flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
      32%{
        display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
      }
      100%{
        display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
      }
     }
     @keyframes trabalhos2 {
        0%{
            display: none;
            opacity: 0;
            bottom: -5%;
            transform:rotateX(-20deg);
        }
        32%{
            display: none;
            opacity: 0;
            bottom: -5%;
            transform:rotateX(-20deg);
        }
      33%{
       display:flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
      65%{
       display:flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
      66%{
        display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
      }
100%{
    display: none;
    opacity: 0;
    bottom: -5%;
    transform:rotateX(-20deg);
}
     }  
      @keyframes trabalhos3 {
        0%{
            display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
        }
        66%{
            display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
        }
     67%{
       display:flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
        
      99%{
       display:flex;
        opacity: 1;
        bottom: 0%;
        transform:rotateX(0deg);
      }
      100%{
        display: none;
        opacity: 0;
        bottom: -5%;
        transform:rotateX(-20deg);
      }
     }
     .trabalhos{
        background-image: url(https://images.pexels.com/photos/2409038/pexels-photo-2409038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     }
     .trabalhos2{
        background-image: url(https://images.pexels.com/photos/5947856/pexels-photo-5947856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     }
     .trabalhos3{
        background-image: url(https://images.pexels.com/photos/4627357/pexels-photo-4627357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     }
     @keyframes paragrafo{
        0%{
            
            left: -30%;
            opacity: 0;
        }
        1%{
         
            left: -30%;
            opacity: 0;
        }
        2%{
            left: 0%;
          
        }
        4%{
            opacity: 1;
        }
        31%{
            opacity: 1;
            left: 0%;
        }
     31.3%{
        opacity: 0 ;   
     }
        32.5%{
            left: -30%;
     
        }
       
        100%{
            left: -30%;     
            opacity: 0;

        }
     }
      /*quero ver a direita */
     .ft{
 
        background-image: url(https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        
        }

     .ft3{
        background-image: url(  https://images.pexels.com/photos/2119714/pexels-photo-2119714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     }


     .ft3 span a, .ft span a{
        font-weight: 400;
        font-size: 1.1em;
    margin-right: 1em;
    padding: 0.7em 4em;
    background-color: rgb(0, 0, 0);
    border-radius: 8em;
    color: white;
    }
     .span2{   
       
         border-radius: 0em 3em 0em 0em;
        position:relative;
       transition: all 0.4s ease-in-out;
        left: 0em;
       top: 25em;
        background-color:rgb(255, 255, 255);
    padding: 1.8em ;
       
    }
    .ft3 .span2::before, .ft .span2::before{
        content: ' ';
        height: 2em;
        width: 2em;
        border-radius: 100%;
        position: absolute;
        left: 18.8em;
        bottom: 0.4em;
        box-shadow: -7.5px 9px rgb(255, 255, 255);
    background-color:transparent;
    transition: all 0.3s ease-in-out ;
        
    }
    
    .ft3 span::before, .ft span::before{
        content: ' ';
        height: 2em;
        width: 2em;
        border-radius: 100%;
        position: absolute;
        left: 0em;
        bottom: 4.4em;
        box-shadow: -15px 15px rgb(255, 255, 255);
    background-color:transparent;
    transition: all 0.3s ease-in-out ;
        
    }
    
    .ft3:hover, .ft:hover{
        transform: scale(1.02);
      box-shadow:  1px 1px 20px rgba(0, 0, 0, 0.439);
      .sombra{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.708), transparent);
      }
      span::before{
       box-shadow: none;
      }
     span{
      background-color: transparent;
      a{
        font-weight: 600 ;
        background-color: rgb(234, 220, 27);
        color: black;
      }
     }
    }
    /*quero ver a esquerda */
 .ft2{
        background-image: url(https://images.pexels.com/photos/5957136/pexels-photo-5957136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
.ft4{
    background-image: url(https://images.pexels.com/photos/2204880/pexels-photo-2204880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
   
.ft4 .span  a, .ft2 .span  a {
    font-weight: 400;
    font-size: 1.1em;
padding: 0.7em 4em;
background-color: rgb(0, 0, 0);
border-radius: 8em;
color: white;
}

.ft4 .span span::before, .ft2 .span span::before{
    content: ' ';
    height: 2em;
    width: 2em;
    border-radius: 100%;
    position: absolute;
    left: -2em;
    bottom: 0.5em;
    box-shadow: 10px 10px 0px rgb(255, 255, 255);
background-color: transparent;
transition: all 0.3s ease-in-out ;
    
}
 .span::before{
    content:' ';
    left: 14.8em;
    content: ' ';
    height: 2em;
    width: 2em;
    border-radius: 100%;
    position: absolute;
    bottom: 5em;
    box-shadow: 10px 10px 0px rgb(255, 255, 255);
background-color: transparent;
transition: all 0.3s ease-in-out;
}

.span{
    border-radius: 3em 0em 1em 0em;
 position: relative;
 left: 8em;
 top: 25em;
   transition: all 0.3s ease-in-out;

    background-color:rgb(255, 255, 255);
padding: 1.8em ;
   
}

.ft4:hover, .ft2:hover{
    transform: scale(1.02);
  box-shadow:  1px 1px 20px rgba(0, 0, 0, 0.439);
  .sombra{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.708), transparent);
  }
  span::before{
   
    display: none;
  }
 span{
    
  background-color: transparent;
  a{
    font-weight: 600 ;
    background-color: rgb(234, 220, 27);
    color: black;

  }
 }
}
@media (max-width:700px){
    /*topo*/
    .nav{
        top: 0%;
        margin-top: 0%;
    }
    .li{
        top: 0%;
        margin-top: 0%;
        width: 100%;
        border-radius: 0%;
        animation-name: none;
    }
    .li ul {
        margin: 0%;
    }
    .li ul:hover{
        font-size: 1em;
        height: 100%;
      
    }
}

    
  /*    @media (max-width:1600px) {
        .ft  .span2{   
   
            border-radius: 0em 3em 0em 0em;
           position:relative;
          transition: all 0.4s ease-in-out;
           left: 0em;
          top: 23.5em;
           background-color:rgb(255, 255, 255);
       padding: 1.8em ;
          
       }
      

        .ft span::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: 0em;
            bottom: 4.8em;
            box-shadow: -9px 9px rgb(255, 255, 255);
        background-color:transparent;
        transition: all 0.3s ease-in-out ;
            
        }

        .ft .span2::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: 18.8em;
            bottom: 0.18em;
            box-shadow: -7.5px 8.9px rgb(255, 255, 255);
        background-color:transparent;
        transition: all 0.3s ease-in-out ;
            
        }

/* segundo produto  */ /*
          .span{
            border-radius: 3em 0em 1em 0em;
         position: relative;
         left: 21em;
         top: 23.8em;
           transition: all 0.3s ease-in-out;
        
            background-color:rgb(255, 255, 255);
        padding: 1.8em ;
           
        }
        .ft2 .span span::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: -1.99em;
            bottom: 0.2em;
            box-shadow: 10px 10px 0px rgb(255, 255, 255);
    background-color: transparent;
    transition: all 0.3s ease-in-out ;
            
        }
        .span::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: 16.35em;
            bottom: 5em;
            box-shadow: 10px 10px 0px rgb(255, 255, 255);
    background-color: transparent;
    transition: all 0.3s ease-in-out ;
            
        }
        /* segunda parte do ver mais */ /*
        .ft3  .span2{   
   
            border-radius: 0em 3em 0em 0em;
           position:relative;
          transition: all 0.4s ease-in-out;
           left: 0em;
          top: 23.5em;
           background-color:rgb(255, 255, 255);
       padding: 1.8em ;
          
       }
      

        .ft3 span::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: 0em;
            bottom: 4.8em;
            box-shadow: -9px 9px rgb(255, 255, 255);
        background-color:transparent;
        transition: all 0.3s ease-in-out ;
            
        }

        .ft3 .span2::before{
            content: ' ';
            height: 2em;
            width: 2em;
            border-radius: 100%;
            position: absolute;
            left: 18.8em;
            bottom: 0.18em;
            box-shadow: -7.5px 8.9px rgb(255, 255, 255);
        background-color:transparent;
        transition: all 0.3s ease-in-out ;
            
        }
     }
     @media (max-width:1300px) {
        .ft  .span2{   
   
            border-radius: 0em 3em 0em 0em;
           position:relative;
          transition: all 0.4s ease-in-out;
           left: 0em;
          top: 24.6em;
           background-color:rgb(255, 255, 255);
       padding: 1.8em ;
          
       }
       /* parte do meio */ /*
       .meio{
        height: 55vh;
    }

       /* segundo produto */ /*
       .span{
        border-radius: 3em 0em 1em 0em;
     position: relative;
     left: 6.5em;
     top: 25em;
       transition: all 0.3s ease-in-out;
    
        background-color:rgb(255, 255, 255);
    padding: 1.8em ;
       
    }

     }
    */